singularity {
    enabled = true
    autoMounts = true
}

//docker {
//    enabled = true
//    fixOwnership = true
//    remove = true
//}



process {
    cache = 'deep'
}

params {
    input_files = 'ufboots'
    species_tree_files = '*.tree'
    genes_map = 'map_genes.txt'
    species_map = 'map_species.txt'
    output_ale = 'ALE_results'
    output_trees = 'species_trees'
    output_samples = 'ufboots'
    single_cluster = ''
    separator = '_i_'
    input_extension = ''
    outgroup_taxa = '[""]'
    python3 = '/usr/bin/env python3'
    fraction_missing = false
}
