params {
    input_files = 'ufboots'
    species_tree_files = '*.tree'
    genes_map = 'map_genes.txt'
    species_map = 'map_species.txt'
    output_ale = 'ALE_results'
    output_trees = 'species_trees'
    output_samples = 'ufboots'
    small_cluster = ''
    separator = '_i_'
    input_extension = 'ufboot'
    outgroup_taxa = '[""]'
    python3 = '/usr/bin/env python3'
    fraction_missing = false
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    cache = 'deep'
    $aleObserve {
        container = 'ALE.simg'
        errorStrategy = { task.attempt > 5 ? 'ignore' : 'retry' }
    }
    $aleMlUndated {
        container = 'ALE.simg'
        stageInMode = 'copy'
        errorStrategy = { task.attempt > 5 ? 'ignore' : 'retry' }
    }
}

//docker {
//    enabled = true
//    fixOwnership = true
//    remove = true
//}
