docker {
//    enabled = true
    fixOwnership = true
//    runOptions = '-d'
    remove = true
}


params {
    input_files = 'ufboots/*.ufboot'
    species_tree_files = '*.tree'
    genes_map = 'map_genes.txt'
    species_map = 'map_species.txt'
    output_ale = 'ALE_results'
    output_trees = 'species_trees'
    output_samples = 'ufboots'
    outgroup_taxa = '[""]'
    python3 = '/usr/local/bin/anapy3'
    fraction_missing = false
}
